<!DOCTYPE HTML>
<html>
	<head>
		<title>Fitahol-健身课程管理工具-约课, 记课, 备课, 排课, 课程跟踪</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/assets/css/ie9.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">Fitahol</a></h1>
					<p>让健身教练爱不释手的课程&学员管理工具<br />
                        方便快捷的全平台支持，高度可视化的健身数据<br />
                    </p>
                    <ul class="actions">
						<li><a href="#" class="button special icon fa-wechat">小程序</a></li>
						<li><a href="http://app.fitahol.com" class="button special icon fa-wechat">WeApp</a></li>
						<li><a href="https://www.pgyer.com/FitAholCoach_iOS" class="button special icon fa-apple">iOS</a></li>
						<li><a href="https://www.pgyer.com/FitAholCoach_Android" class="button special icon fa-android">Android</a></li>
						<li><a href="#one" class="button icon fa-chevron-down scrolly">更多介绍</a></li>
					</ul>
				</div>
				<div class="image phone">
                    <div class="inner">
                        <img src="/static/assets/images/screen-2.png" alt="" />
                    </div>
                </div>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>全行业完美支持</h2>
				</header>
				<ul class="icons major">
					<li class="major-icon">
                        <img src="/static/assets/icons/tool.png" />
                        <br /><span class="label">连锁健身中心</span>
                    </li>
                    <li class="major-icon">
                        <img src="/static/assets/icons/two.png" />
                        <br /><span class="label">工作室</span>
                    </li>
                    <li>
                        <img src="/static/assets/icons/silhouette.png" />
                        <br /><span class="label">瑜伽馆</span>
                    </li>
                    <li class="major-icon">
                        <img src="/static/assets/icons/dance.png" />
                        <br /><span class="label">舞蹈室</span>
                    </li>
                    <li>
                        <img src="/static/assets/icons/box.png" />
                        <br /><span class="label">拳击馆</span>
                    </li>
				</ul>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper">
				<div class="inner alt">
					<section class="spotlight">
						<div class="image"><img src="/static/assets/images/membership.jpg" alt="" /></div>
						<div class="content">
							<h3>管理更多学员</h3>
							<p>不仅能够帮助私教整理学员资料，并且能够跟踪每次上课纪录：
                                <br />总课程数、已完成课程、未完成课程、剩余的课程、充值次数……</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="/static/assets/images/costing.jpg" alt="" /></div>
						<div class="content">
							<h3>降低管理成本</h3>
							<p>每天提交课表给管理层，很花时间？备课想动作耗时？
                                <br />快速单节排课、记课、备课；批量操作课程。
                                <br />附带庞大的健身动作库和相关视频说明，更方便您定制自己的私有动作库。
                                <br />一键截屏，分享学员、抄送领导，每日课程一目了然。</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="/static/assets/images/booking.jpg" alt="" /></div>
						<div class="content">
							<h3>学员在线课时预约</h3>
							<p>
                                学员约课总会询问空闲期时间段？
                                <br />学员也可登录平台绑定私教，
                                <br />随时查看私教每日课程、剩余时间，快捷预约。
                            </p>
						</div>
					</section>
                    <section class="spotlight">
						<div class="image"><img src="/static/assets/images/reminder.jpg" alt="" /></div>
						<div class="content">
							<h3>降低课时损失</h3>
							<p>
                                学员约定时间未到，无故翘课。造成课时费损失？
                                <br />教练好提前3小时推送提醒学员上课，避免学员更改计划而未通知私教。
                            </p>
						</div>
					</section>
                    <section class="spotlight">
						<div class="image"><img src="/static/assets/images/losing.jpg" alt="" /></div>
						<div class="content">
							<h3>学员状态跟踪</h3>
							<p>
                                不知道学员剩余多少课时？什么时候该续课了？
                                <br />不知道学员健身目标？不知道学员当前与目前的偏差？
                                <br />学员信息中直观显示学员上次上课时间、下次上课时间。
                                <br />学员目标和当前状态可视化的形成对比曲线，辅助教练和学员推进目标。
                            </p>
						</div>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2 special">
				<div class="inner">

					<header class="major">
					<h2>感谢您关注Fitahol健身工具</h2>
					<p>如果您有任何问题，请在下面给予我们反馈</p>
				</header>
                <section>
                    <form method="post" action="{% url 'feedback-add' %}">
                        {% csrf_token %}
                        <div class="row uniform">
                            <div class="6u 12u$(xsmall)">
                                <input type="text" name="nickname" id="nickname" value="" placeholder="昵称" required />
                            </div>
                            <div class="6u$ 12u$(xsmall)">
                                <input type="text" name="contact" id="contact" value="" placeholder="联系方式" required />
                            </div>
                            <div class="12u$">
                                <textarea name="content" id="content" placeholder="请输入您的反馈" required rows="6"></textarea>
                            </div>
                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="确认提交" class="special" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
                <ul class="actions">
						<li><a href="#" class="button special icon fa-wechat">小程序</a></li>
						<li><a href="http://app.fitahol.com" class="button special icon fa-wechat">WeApp</a></li>
						<li><a href="https://www.pgyer.com/FitAholCoach_iOS" class="button special icon fa-apple">iOS</a></li>
						<li><a href="https://www.pgyer.com/FitAholCoach_Android" class="button special icon fa-android">Android</a></li>
                </ul>
                <!--
				<ul class="icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
                -->
				<p class="copyright">&copy; Fitahol. Credits: <a href="http://www.fitahol.com">Fitahol</a></p>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>